<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-nowrap table-card">
                <div class="card-header align-items-center">
                    <h1 class="mb-0" align="center">Your BookShelves</h1>
                </div>
                <div class="table-responsive">
                    <tr th:each="shelve: ${booksShelves}">
                        <table class="table table-md table-bordered">
                            <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <div th:text="${shelve.name}"></div>
                            </tr>
                            <tr class="align-middle">
                                <th scope="col" colspan="2">Book Title</th>
                                <th scope="col" colspan="2">Author</th>
                                <th scope="col" colspan="2">Publisher</th>
                                <th scope="col" colspan="2">ISBN</th>
                                <th scope="col" colspan="2">Language</th>
                                <th scope="col" colspan="2">Description</th>
                            </tr>
                            <tbody>
                                <th:block th:each="book: ${shelve.items}">

                                    <tr>
                                        <td>
                                            <th th:text="${book.title}"></th>
                                        </td>
                                        <td>
                                            <th th:text="${book.author}"></th>
                                        </td>
                                            <th:block th:each="details: ${book.details}">
                                                <td>
                                                    <th th:text="${details.publisher}"></th>
                                                </td>
                                                 <td>
                                                    <th th:text="${details.isbn}"></th>
                                                 </td>
                                                 <td>
                                                    <th th:text="${details.lang}"></th>
                                                 </td>
                                                 <td>
                                                    <th th:text="${details.description}"></th>
                                                 </td>
                                            </th:block>
                                    </tr>
                                </th:block>
                            <tbody>
                            </thead>
                        </table>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script>
</body>
</html>